# Dependencies
node_modules/
dist/
build/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server_errors.txt
tsc_errors.txt

# Temp/Cache
.turbo/
.vercel/
.next/
.cache/
